



{block #content}
<div class="container" style="background: silver; padding:3em">
{form addGeoForm class => 'form-horizontal form-style'}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>


    <div class="form-group">
        {label metodaPridani class => 'control-label col-sm-2'}
        <div class="col-sm-2">
            {input metodaPridani class => 'form-control'}
        </div>

        <div class="col-sm-4">
            {input text class => 'form-control'}
        </div>

        <div class="col-sm-2">
            {input send class => "btn btn-default"}
        </div>
    </div>


    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>



    <div class="form-group">
        {label gcKod class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input gcKod class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label name class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input name class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label type class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input type class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label city class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input city class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label country class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input country class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label owner class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input owner class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label latitude class => 'control-label col-sm-2'}

        <div class="col-sm-4">
            {input latitude class => 'form-control', data-inputmask => "'mask': 'N 99° 99.999'"}
        </div>
    </div>


    <div class="form-group">
        {label longitude class => 'control-label col-sm-2'}

        <div class="col-sm-4">
            {input longitude class => 'form-control', data-inputmask => "'mask': 'E 99° 99.999'"}
        </div>
    </div>

    <div class="form-group">
        {label user class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input user class => 'form-control'}
        </div>
    </div>

    <div class="form-group">
        {label logged class => 'control-label col-sm-2'}
        <div class="col-sm-4">
            {input logged class => 'form-control'}
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input pridat class => "btn btn-default"}
        </div>
    </div>

{/form}


<script>
    $(document).ready(function(){
        $(":input").inputmask();
    });
</script>

</div>
