
{block #content}
<div class="container" style="background: silver; padding:3em">

<link rel="stylesheet" href="{$basePath}/css/style2.css">
<div class="container container-small">

	<div class="row row-eq-height">	
		<div class="col-6 col-xs-6">GC kód</div><div class="col-6 col-xs-6"> {$g->GCCode}</div>
	</div>


	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Název</div><div class="col-6 col-xs-6"> {$g->name}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Final coordinates</div><div class="col-6 col-xs-6"> {$g->finalCoordinates}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Typ</div><div class="col-6 col-xs-6"> {$g->type->name}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Majitel</div><div class="col-6 col-xs-6"> {$g->owner->owner}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Země</div><div class="col-6 col-xs-6"> {$g->region->state->name}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Město</div><div class="col-6 col-xs-6"> {$g->region->name}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Přidal</div><div class="col-6 col-xs-6"> {$g->user->username}</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-6 col-xs-6">Datum</div><div class="col-6 col-xs-6"> {$g->timeAdded}</div>
	</div>


	<div class="row row-eq-height">
		<div class="col-6 col-xs-12"><p><span class="badge">{$pocet}</span> Diskuze:</p></div>
	</div>
	
	{**
 		
 		foreach show message in discussion	

 	*}
 	{foreach $discussion as $m} 
	<div class="row row-eq-height" style="text-align:left;">
		<div class="col-6 col-xs-2" style="font-size:x-small;"><p style="font-size:medium; font-weight:bold;">{$m->user->username}</p>{$m->time}</div>
		<div class="col-6 col-xs-10">{$m->text}</div>
	</div>
 	{/foreach}

	<h4>Leave a Comment:</h4>
      {control discussionForm}
</div>
</div>