{block #content}
<div class="container" style="background: silver; padding:3em">
    {form register class => 'form-horizontal form-style'}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>

        <div class="form-group">
            {label username class => 'control-label col-sm-2'}
            <div class="col-sm-4">
                {input username class => 'form-control'}
            </div>
        </div>

        <div class="form-group">
            {label password class => 'control-label col-sm-2'}
            <div class="col-sm-4">
                {input password class => 'form-control'}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {input send class => "btn btn-default"}
            </div>
        </div>

    {/form}

</div>
