{define cell-is_admin}
	{$row->is_admin?ano:ne}
{/define}

{define cell-pid_id}
	{$row->pid->name}
{/define}

{define cell-gender}
	{$row->pid|sex}
{/define}

{define cell-ownerID}
	{$row->owner->owner}
{/define}


{define cell-regionID}
    {$row->region->name}
{/define}


{define cell-stateID}
    {$row->region->state->name}
{/define}

{define cell-userID}
    {$row->user->username}
{/define}


{define cell-typeID}
    {$row->type->name}
{/define}

{define cell-finalCoordinates}
    {$row->finalCoordinates|coordAddNewLine|breaklines}
{/define}


{define cell-found}
    {if in_array($row->GCCode, $this->getParameter('loggedOnes'))}
		odloveno
    {else}
		neodloveno
    {/if}
{/define}




{define row-actions}
	<a href="{plink Geocache:show $row->GCCode}" class="btn btn-sm btn-default">Detail</a>
    <a href="{plink Geocache:edit $row->GCCode}" class="btn btn-sm btn-default">Edituj</a>
    <a href="{plink Geocache:delete $row->GCCode}" class="btn btn-sm btn-default">Odeber</a>
{/define}
