{* This is the welcome page, you can delete it *}


{block #content}

{if $presenter->getParameter("stahni") !== null}<meta http-equiv="refresh" content="3;url={link download}">{/if}


        {control datagrid}


    {**
    {control filterForm}


    <div class="row row-eq-height">
        <div class="col-6 col-xs-1">Lov</div>
        <div class="col-6 col-xs-1">Typ</div>+
        <div class="col-6 col-xs-4 offset-lg-0">Název</div>
        <div class="col-6 col-xs-2">Vypočítané souřadnice</div>
        <div class="col-6 col-xs-2">Vložil</div>
        <div class="col-6 col-xs-1">Show</div>
        <div class="col-6 col-xs-1">Edit</div>


    </div>
        {foreach $geocaches as $g} 
            <div class="row row-eq-height">
				<div class="col-6 col-xs-1">
                    {if in_array($g->GCCode, $loggedOnes)}
                        odloveno
                    {else}
                        neodloveno
                    {/if}

                </div>
		        <div class="col-6 col-xs-1">{$g->type->name}</div>
		        <div class="col-6 col-xs-4">{$g->name}<br> od {$g->owner->owner} | {$g->GCCode} | {$g->region->name}, {$g->region->state->name}</div>
		        <div class="col-6 col-xs-2">{$g->finalCoordinates|coordAddNewLine|breaklines}</div>
		        <div class="col-6 col-xs-2">{$g->user->username}<br>{$g->timeAdded}</div>
                <div class="col-6 col-xs-1"><a n:href="Geocache:show $g->GCCode">Zobraz</a></div>
                <div class="col-6 col-xs-1"><a n:href="Geocache:edit $g->GCCode">edit</a><br><a n:href="Geocache:delete $g->GCCode">delete</a></div>
            </div>
        {/foreach} 




{/block}
 **}