{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Geocaching</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">

	<!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

	<!-- Use this css for ajax spinners -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">

	<!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-select/dist/css/bootstrap-select.css">




	{block head}{/block}


</head>


<body>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<nav class="navbar navbar-inverse" style="margin-bottom: 0">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" n:href="Homepage:">Kešky</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a n:href="Geocache:add">Přidat kešku</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a n:href="Login:out"><span class="glyphicon glyphicon-user"></span> Odhlásit {$username}</a></li>
	      <li><a n:href="Login:"><span class="glyphicon glyphicon-log-in"></span> Přihlásit</a></li>
	    </ul>
	  </div>
	</nav>


		{include content}


    {block scripts}


		<script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>

		<script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
		<script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>

		<!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
		<script src="{$basePath}/bower_components/happy/dist/happy.js"></script>
		<script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
		<script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>

		<!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>

		<!-- Use this little extension for ajax spinners -->
		<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

		<!-- Include bootstrap.js for proper behaviour of ColumnStatus -->
		<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
		<script src="{$basePath}/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
		<script>
            $.nette.init();
		</script>
		<script src="http://www.jqueryscript.net/demo/Easy-jQuery-Input-Mask-Plugin-inputmask/dist/jquery.inputmask.bundle.min.js"></script>
		<script>
            $(document).ready(function(){
                $(":input").inputmask();
            });
		</script>
    {/block}
</body>
</html>
